@media (min-width: 1680px) and (max-width: 1920px){
	header {
		font-size: 24px;
	}
}

@media (min-width: 1440px) and (max-width: 1679px){
	header {
		font-size: 20px;
		height: 100px;
		background-size: 100% 100px;
	}

	.header__logo {
		height: 80px;
		width: 200px;
		margin: 10px 0px 10px -23px;
		background-size: 200px 80px; 
	}

	.header__block {
		width: calc(100vw - 3 * var(--gap) - 200px);
	}

	.header__menu {
		width: calc(100vw - 3 * var(--gap) - 200px);
	}

}