@media (min-width: 1680px) and (max-width: 1920px){
	header {
		font-size: 24px;
		height: 150px;
	}

	h1 {
		font-size: 72px;
	}

	h2 {
		font-size: 60px;
	}

	h3 {
		font-size: 32px;
	}

	.header__logo {
		height: 120px;
		width: 300px;
		background-size: 300px 120px;  
	}

	.header__block {
		width: calc(100vw - 3 * var(--gap) - 300px);
	}

	.header__menu {
		width: calc(100vw - 3 * var(--gap) - 300px);
	}

	.main-slider {
		height: 400px;
	}

	.slide__content {
		height: 150px;
		width: 1200px;
	}

	#carousel {
		height: 1000px;
	}

	.about__text {
		font-size: 28px;
	}

	.news_title{
		margin-bottom: -200px;
	}

	.about__news {
		font-size: 16px;
		line-height: 16px;
	}

	.feedback__qr {
		width: 200px;
		height: 200px;
	}

	.feedback__text{
	  font-size: 20px;
	  line-height: 24px;
	}

	.form__text {
		font-size: 24px;
		font-weight: bold;
	}

	.form__group p {
		font-size: 24px;
	}

	.form__group label {
		font-size: 16px;
	}

	form button {
		font-size: 28px;
	}

	footer {
		height: 250px;
	}

	.footer__logo {
		width: 375px;
		background-size: 375px 150px; 
	}

	.footer__left-column {
		height: 150px;
	}

	.footer__right-column {
		height: 150px;
	}

	.footer__text {
		margin: 10px;
		font-size: 20px;
	}

	.footer__icon {
		margin: 10px 10px 0px 0px;
		width: 25px;
		height: 25px;
	}

	.footer__sn { 
		width: 50px;
		height: 50px;
	}

	.footer__link:first-child {
		margin-right: 30px;
	}

}

@media (min-width: 1440px) and (max-width: 1679px){
	h1 {
		font-size: 64px;
	}

	h2 {
		font-size: 48px;
	}

	h3 {
		font-size: 24px;
	}

	header {
		font-size: 20px;
		height: 100px;
		background-size: 100% 100px;
	}

	.header__logo {
		height: 80px;
		width: 200px;
		margin: 10px 0px 10px -23px;
		background-size: 200px 80px; 
	}

	.header__block {
		width: calc(100vw - 3 * var(--gap) - 200px);
	}

	.header__menu {
		width: calc(100vw - 3 * var(--gap) - 200px);
	}

	.main-slider {
		height: 400px;
	}

	.slide__img {
		height: 350px;
	}

	.slide__content {
		height: 125px;
		width: 740px;
	}

	.slide__text {
		font-size: 16px;
	}

	#carousel {
		height: 800px;
	}

	.about__text {
		font-size: 16px;
	}

	.news_title{
		margin-bottom: -200px;
	}

	.about__news {
		font-size: 16px;
		line-height: 16px;
	}

	.feedback__qr {
		width: 150px;
		height: 150px;
	}

	.feedback__text{
	  font-size: 16px;
	  line-height: 20px;
	}

	.form__text {
		font-size: 20px;
		font-weight: bold;
	}

	.form__group p {
		font-size: 20px;
	}

	.form__group label {
		font-size: 16px;
	}

	form button {
		font-size: 24px;
	}

	footer {
		height: 200px;
	}

	.footer__logo {
		height: 120px;
		width: 300px;
		background-size: 300px 120px; 
	}

	.footer__left-column {
		height: 100px;
	}

	.footer__right-column {
		height: 100px;
	}

	.footer__text {
		margin: 10px;
		font-size: 16px;
	}

	.footer__icon {
		margin: 10px 1px 0px 0px;
		width: 20px;
		height: 20px;
	}

	.footer__sn { 
		width: 30px;
		height: 30px;
	}

	.footer__link:first-child {
		margin-right: 20px;
	}

}

@media (min-width: 1200px) and (max-width: 1439px)
{
	h1 {
		font-size: 48px;
	}

	h2 {
		font-size: 36px;
	}

	h3 {
		font-size: 20px;
	}

	header {
		font-size: 16px;
		height: 100px;
		background-size: 100% 100px;
	}

	.header__logo {
		height: 80px;
		width: 200px;
		margin: 10px 0px 10px -23px;
		background-size: 200px 80px; 
	}

	.header__block {
		width: calc(100vw - 3 * var(--gap) - 200px);
	}

	.header__menu {
		width: calc(100vw - 3 * var(--gap) - 200px);
	}

	.main-slider {
		height: 400px;
	}

	.slide__img {
		height: 350px;
	}

	.slide__content {
		height: 125px;
		width: 740px;
	}

	.slide__text {
		font-size: 16px;
	}

	#carousel {
		height: 800px;
	}

	.about__text {
		font-size: 16px;
		line-height: 1.5em;
	}

	.news_title{
		margin-bottom: -200px;
	}

	.about__news {
		font-size: 16px;
		line-height: 16px;
	}

	.feedback__qr {
		width: 150px;
		height: 150px;
	}

	.feedback__text{
	  font-size: 16px;
	  line-height: 20px;
	}

	.form__text {
		font-size: 20px;
		font-weight: bold;
	}

	.form__group p {
		font-size: 20px;
	}

	.form__group label {
		font-size: 16px;
	}

	form button {
		font-size: 24px;
	}

	footer {
		height: 200px;
	}

	.footer__logo {
		height: 120px;
		width: 300px;
		background-size: 300px 120px; 
	}

	.footer__left-column {
		height: 100px;
	}

	.footer__right-column {
		height: 100px;
	}

	.footer__text {
		margin: 10px;
		font-size: 14px;
	}

	.footer__icon {
		margin: 10px 1px 0px 0px;
		width: 20px;
		height: 20px;
	}

	.footer__sn { 
		width: 30px;
		height: 30px;
	}

	.footer__link:first-child {
		margin-right: 20px;
	}

}