/* fonts */

@font-face {
  font-family: 'Georgia';
  src: local('Georgia-Regular'),
        url('../fonts/Georgia.woff2') format('woff2');
  font-display: swap;
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Georgia';
  src: local('Georgia-Italic'),
        url('../fonts/Georgia-Italic.woff2') format('woff2');
  font-display: swap;
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Georgia';
  src: local('Georgia-Bold'),
        url('../fonts/Georgia-Bold.woff2') format('woff2');
  font-display: swap;
  font-weight: 700;
  font-style: bold;
}

@font-face {
  font-family: 'Georgia';
  src: local('Georgia-BoldItalic'),
        url('../fonts/Georgia-BoldItalic.woff2') format('woff2');
  font-display: swap;
  font-weight: 700;
  font-style: italic;
}

/* vars */

:root {
  --color-main: #005bab;
  --color-secondary: #f6c625;
  --color-bg: white;
  --gap: 50px;
}

/* global */

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

*:focus-visible {
  outline: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

body {
  margin: 0px;
  font-family: 'Georgia', sans-serif;
  font-style: normal;
  font-weight: 400;
  background-color: var(--color-bg);
  color: var(--color-main);
}

h1 {
  font-size: 64px;
  text-align: center;
  line-height: 1.5em;
  letter-spacing: 3px;
}

h2 {
  font-size: 48px;
  text-align: center;
  line-height: 1em;
  letter-spacing: 2px;
}

h3 {
  font-size: 32px;
  text-align: center;
  line-height: 1em;
  letter-spacing: 2px;
}

.container {
  width: auto;
  padding: 0 var(--gap);
  margin: 0;
  font-style: normal;
  line-height: 60px;
  overflow: hidden;  
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

/* header */
header {
  width: 100%;
  height: 200px;
  padding: 0px var(--gap);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 28px;
  color: var(--color-bg);
  background: url("../img/header-bg.jpg") no-repeat center;
  background-size: 100% 200px;  
}

.header__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header__block {
  width: calc(100vw - 3 * var(--gap) - 400px);
  height: 50%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.header__menu {
  width: calc(100vw - 3 * var(--gap) - 400px);
  height: 50%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.header__logo {
  height: 160px;
  width: 400px;
  margin: 20px 0px;
  background: url("../img/logo.svg") no-repeat center;
  background-size: 400px 160px;  
}

.header__email {
  margin-right: var(--gap);
}

/* main */
#cover {
  width: 100%;
  height: 100vh;
  background: url("../img/cover.jpg") no-repeat center;
  background-size: 100% 100vh;
  color: var(--color-bg);
}

/* footer */
footer {
  padding: var(--gap) var(--gap);
  width: 100%;
  height: 200px;
  color: var(--color-bg);
  background-color: var(--color-main);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer__logo {
  height: 120px;
  width: 300px;
  margin: 0px 20px 0px 0px;
  background: url("../img/logo.svg") no-repeat center;
  background-size: 300px 120px; 
}

.footer__columns {
  width: calc(100% - 100px);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer__left-column {
  width: 50%;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer__right-column {
  width: 50%;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer__content {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.footer__text {
  margin: 0px;
}

.footer__icon {
  margin-right: 10px;
  width: 20px;
  height: 20px;
}

.footer__sn {
  margin: 0px;  
  width: 50px;
  height: 50px;
}

.footer__link {
  padding: 0px;
  margin: 0px;
}

.footer__link:first-child {
  margin-right: 25px;
}